<div layout="row">
	<div flex class="md-content-bg">
		<div class="checkIns-container">
			<md-content class="md-content-bg" layout-align="space-around center" layout-xs="row" layout="row">
				<div flex-xs flex-gt-xs="90" layout="column">
					<div class="card card--small bounceInLeft" ng-repeat="checkin in checkIns | filter:filterService.search">
						<div style="background-image: url({{ checkin.image }})" class="card__image"></div>
						<h4 class="card__title">{{ checkin.customer.name }}</h4>
						<span class="card__subtitle">{{ checkin.comment}}</span>
						<span class="card__subtitle card-date">{{ checkin.date | date:'short' }}</span>					
						<div class="card__action-bar">
						</div>
						<div class="card__action-bar card__category">
						</div>
					</div>
					
				</div>
			</md-content>
		</div>
	</div>
	<div flex class="container-map">
		<ui-gmap-google-map options="map.options" control="map.control" center='map.center' zoom='map.zoom'>
			<ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
</div>
